---
---

// Styles for Heroes buld order pages.

body {
    font-family: helvetica;

    a#visited, a {
        color: green;
    }
    
}

body.hots-bo {
    font-size: 24px;
    margin-bottom: 512px;

    h2 {
        font-size: 32px;
        margin: 192 0 16 0;
    }
    
    ul {
        margin: 0px;
        padding: 0px;
    }
    li {
        margin: 0px;
        list-style: none;
        line-height: 2em;
        em, strong {
            text-align: right;
            display: inline-block;
            width: 32px;
            padding: 0 12 0 4;
            margin: 4 16 4 4;
            font-weight: 900;
        }
        strong {
            background-color: #80d080;
        }
        em {
            font-style: normal;
        }
        
    }
}

body.bo-list {
    font-size: 24px;
    line-height: 2em;
}

body.sc2-bo {
    font-size: 16px;
    margin-bottom: 512px;

    h2 {
        font-size: 32px;
    }
    
    ul {
        li:nth-child(odd) {
            background-color: #e0e0e0;
        }        
        margin: 0px;
        padding: 0px;
    }
    li {
        margin: 0px;
        list-style: none;
        line-height: 1.5em;
        em, strong {
            display: inline-block;
            width: 140px;
            padding: 0 12 0 4;
            margin: 4 16 4 4;
            font-weight: 900;
        }
        strong {
            background-color: #80d080;
        }
        em {
            font-style: normal;
        }
        code {
            width: 40px;
            text-align: right;
            font-weight: 600;
            display: inline-block; 
            color: #800000;
            font-family: inherit;
            padding: 0 12 0 12;
        }
        
    }
}
